<ion-header>
  <ion-navbar>
    <ion-title>
      Water Watch
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Target amount: {{waterLog.targetAmount}} fl oz</h4>
</ion-content>
